/* General Styles */
@font-face {
    font-family: 'Google Sans';
    src: url(../fonts/gsm.ttf);
}

* {
    font-family: 'Google Sans';
    text-decoration: none;
    border: none;
    color: #282828;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.video-embed-loading, .video-title-loading, .video-description-loading {
    background-color: #d7dbdd;
    border-radius: 8px;
}

.video-title-loading, .video-description-loading {
    height: 64px;
    width: 160px;
    margin: 8px;
}

.video-description-loading {
    width: 320px;
}

/* Banner */
.searchbar-banner {
    background-color: #eee;
    height: 10%;
    box-shadow: 0px 2px 4px gray;
}

input {
    width: 34%;
    height: 40px;
    padding: 16px;
    /* border-radius: 32px; */
    margin: 16px auto;
    /* border: 1px solid #282828; */
    min-width: 320px;
}

input:focus {
    box-shadow: inset 0px 0px 2px 1px #ff4335;
    border: 1.6px solid #ff4335;
}

.content-area {
    padding: 40px 12px;
}

.tube {
    background-color: white;
    border-radius: 4px;
    color: #ff4335;
    margin: 0 6px;
    padding: 0 4px;
}

.default-video-area {
    background-color: #ff4335;
    width: 100%;
    height: 91vh;
    font-size: 48px;
    color: white;
    margin: 0;
}

.video-details {
    margin: 8px;
}

.video-details-title {
    margin: 24px 0;
    padding: 0;
    font-size: 24px;
}

.video-list {
    border: none;
}

.video-list-item {
    border: none;
    background-color: #eee;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.video-list-item:hover {
    background-color: #ccc;
}